.navbar {
    height: 65px;
}

.gfs_img {
    height: 60px;
}

.mr-auto{
    text-align: 50%;
}

.btn-primary {
    background-color: #EF4223;
}

.deconnection{
    background-color: #EF4223; 
    opacity: 75%;
}

